<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Black+Han+Sans&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/home/login.js" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하루 로그인</title>
    <script>
        function popup(){
            var url = "/findingid";
            var name = "ID찾기";
            var option = "width = 500, height = 500, top = 100, left = 200 , location = no";
            window.open(url, name, option);
        }
    </script>
</head>
<body>
    
        <div class="login_menu">
        <form>
        <a href="/"><div class="header_logo"></div></a>
            <div class="input_area">
                <input type="text" id="id" name="id" autocomplete="off" required>
                <label for="id">ID</label>
            </div>
            <div class="input_area"> 
                <input type="password" id="psword" name="psword" autocomplete="off" required>
                <label for="psword">PASSWORD</label>
            </div>
            <div class="btn_area">
                <p id="button">LOGIN</p>
            </div>
            <div class="sidemenu">
            <a class="join" href="/register0">회원가입</a>
            <span class="l">|</span>
            <a class="find_id" onclick="popup()">ID 찾기</a>
            <span class="l">|</span>
            <a class="find_pw" href="findingpw">PW 찾기</a>
            </div>
        </form>
        </div>
    
    

</body>
</html>