<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하루 회원가입</title>
    <link rel="stylesheet" href="/css/register0.css">
</head>
<body>
    <div class="box">
        <a href="/register2" class="register"><img id="email" src="https://ifh.cc/g/SreLJH.png">
            <img id="email2" src="https://ifh.cc/g/qfCwko.png"><p>이메일 인증으로 회원가입</p></a>
        <a href="/register" class="register"><img id="phone" src="https://ifh.cc/g/qYAJgn.png"><p>휴대폰 인증으로 회원가입</p></a>
    </div>
</body> 
</html>

